name: Scanner Workflow

on:
  workflow_dispatch:
  push:
    branches: 
     - master
     
jobs:
  scan_routine:
    name: Scanner Routine
    runs-on: ubuntu-latest
    
    steps:
    # Runs a single command using the runners shell
    - name: Clone the repository
      uses: actions/checkout@v3
      
    - name: Scan Files in a Folder
      uses: alexavil/folder-scanner@128d7f85b467c7b91e739217b8b715d76a9681d7
      with:
          folder: ./assets/img
          commit_message: Compile asset file list
