name: Scanner Workflow

on:
  workflow_dispatch:
  push:
    branches: 
     - master
     
jobs:
  scan_routine:
    name: Scanner Routine
    runs-on: ubuntu-latest
    
    steps:
    # Runs a single command using the runners shell
    - name: Clone the repository
      uses: actions/checkout@v3
      
    - name: Scan Files in a Folder
      uses: alexavil/folder-scanner@557e7716236b967d4eefa3b213f5c46388b6b332
      with:
          folder: ./assets/img
          commit_message: Compile asset file list
