name: Scanner Workflow

on:
  workflow_dispatch:
  push:
    branches: 
     - master
     
jobs:
  scan_routine:
    name: Scanner Routine
    runs-on: ubuntu-latest
    
    steps:
    # Runs a single command using the runners shell
    - name: Clone the repository
      uses: actions/checkout@v3
      
    - name: Scan Files in a Folder
      uses: alexavil/folder-scanner@415743d14f25374e3b52909ce6ca91a5463a49d8
      with:
          folder: ./assets/img
          commit_message: Compile asset file list
